@font-face {
  font-family: 'Campton';
  src: local('Campton'),
    url('./assets/fonts/Campton-Bold.woff2') format('woff2'), local('Campton'),
    url('./assets/fonts/Campton-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Campton';
  src: local('Campton'),
    url('./assets/fonts/Campton-Light.woff2') format('woff2'), local('Campton'),
    url('./assets/fonts/Campton-Light.woff') format('woff');
  font-weight: light;
}

@font-face {
  font-family: 'Neue Metana';
  src: url('./assets/fonts/NeueMetana-Bold.woff2') format('woff2'),
    url('./assets/fonts/NeueMetana-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Neue Metana';
  src: url('./assets/fonts/NeueMetana-Regular.woff2') format('woff2'),
    url('./assets/fonts/NeueMetana-Regular.woff') format('woff');
  font-weight: normal;
}
